@import '_base';

body {
	padding: 20px;
	cursor: default;

	ul {
		list-style-type: none;
	}
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#navigation-pills {
	margin-bottom: 20px;
}

.list-group-item {
	margin-bottom: 10px;

	&:hover {
		background-color: #F5F5F5;
	}
}

.spinner {
	width: 400px;
	height: 300px;
	@extend .center-horizontally;
}