@import '_base';

#user-profile-wrapper {
	#user-profile {
		.profile-photo {
			width: 200px;
			height: 200px;
		}

		.user-like {
			padding: 5px 10px;
			margin-bottom: 5px;
			@include border-radius(5px);
			@include box-shadow(0 0 10px #ccc);

			&:hover {
				background-color: #eee;
			}

			.user-like-author {
				text-align: right;
			}
		}
	}
}